# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright 2015-2022 SUSE LLC

[Unit]
Description=SUSE JeOS First Boot Wizard

# Same as YaST2-Firstboot.service here
After=apparmor.service local-fs.target plymouth-start.service YaST2-Second-Stage.service
Conflicts=plymouth-start.service
Before=getty@tty1.service serial-getty@hvc0.service serial-getty@ttyS0.service serial-getty@ttyS1.service serial-getty@ttyS2.service serial-getty@ttyAMA0.service
Before=display-manager.service
ConditionPathExists=/var/lib/YaST2/reconfig_system
OnFailure=poweroff.target

# jeos-firstboot starts before wicked and login though.
# It writes wicked configuration manually
Before=wicked.service systemd-user-sessions.service
# For NM it uses nmcli, so NM needs to be running
After=NetworkManager.service

# If cloud-init is used on the system, wait until it's done to be able
# to check whether it performed any configuration.
After=cloud-config.target

# jeos-firstboot-snapshot.service deletes the flag file, but starts after us
Wants=jeos-firstboot-snapshot.service

[Service]
Type=oneshot
Environment=TERM=linux
RemainAfterExit=yes
ExecStartPre=/bin/sh -c "/usr/bin/plymouth quit 2>/dev/null || :"
ExecStart=/usr/sbin/jeos-firstboot
StandardOutput=tty
StandardInput=tty
#StandardError=tty
# enable accessing global keyring to get data from eg. initrd
KeyringMode=shared

[Install]
WantedBy=default.target
